* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    background-color: $color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}